<div class="section_nav">
<a href="" class="not_all">World</a>
<a href="" class="not_all">San Francisco</a>
<a href="" class="not_all">New York</a>
<a href="" class="not_all">Bootcamp Prep</a>
<a href="" class="not_all">Jumpstart</a>
<a href="" class="not_all">Online</a>
<a href="" class="not_all">Marketing</a>
<a href="" class="not_all">Sales</a>
<a href="" class="not_all">TalentMatch</a>
<a href="" class="not_all">Alumni</a>
<a href="" id="all">All</a>
</div>

